.jumbotron {
	text-align: center;
	background-color: #000;
	color: white;
}
img {
	max-height: 600px;
	right: 0%;
	vertical-align: bottom;
}
.crop {
	max-width: 500px;
	max-height: 600px;
	overflow: hidden;
	padding-right: -50px;
}